* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 43%;
    height: 50%;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content:center ;
    align-items: center;
    margin: 12% auto;
    border-radius: 12px;
}
.container .img {
    width: 50%;
    height: 100%;
}
.img img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.container .text {
    width: 50%;
    padding: 16px 22px;
}
.text .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}
.price h1{
    font-size: 1.5rem;
    padding: 7px 0;
    color: hsl(158, 36%, 37%);
}
.price h4 {
    text-decoration: line-through;
    font-size: .9rem;
    opacity: 70%;
}
.text h2 {
    font-size: .9rem;
    font-weight: 500;
    letter-spacing: 5px;
    opacity: 50%;
    padding: 7px 0;
}
.text h1 {
    font-family : 'Fraunces', sans-serif;
    font-size: 2rem;
    padding: 12px 0;
}
.text p {
    font-size: 14px;
    padding: 7px 0;
}
.container button {
    border: none;
    border-radius: 12px;
    width: 100%;
    height: 50px;
    background-color: hsl(158, 36%, 37%);
    font-size: 1.1rem;
    font-weight: 700;
    padding: 5px 5px;
    color: #fff;
}
.container button img {
    padding: 0 6px;
}
